<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description"
    content="Isi Piring adalah website yang merekomendasikan anda makanan dan tempat makan sesuai selera anda">
  <link rel="shortcut icon" href="/images/icons/icon.svg" type="svg">
  <title>Isi Piring - Gak bingung mau makan apa</title>
</head>

<body>
  <!-- Ascebility Section -->
  <a href="#maincontent" class="skip-link">Menuju ke konten</a>

  <!-- AppBar / Header / Navigation Section -->
  <header>
    <div class="container">
      <div class="logo-container">
        <a href="#" class="logo-link">
          <div class="logo">
            <img src="/images/icons/icon.svg" alt="Isi Piring icon">
            Isi Piring
          </div>
        </a>
        <a id="hamburger">☰</a>
      </div>
      <nav id="drawer">
        <div class="close-btn-container">
          <a id="close-btn">&#10006;</a>
        </div>
        <ul>
          <li><a href="#/">Home</a></li>
          <li><a href="#/favorite">Favorite</a></li>
          <li><a href="#/random-food">Surprise Me!</a></li>
          <li><a href="http://arproject.my.id">About Us</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <!-- Hero Section -->
  <section class="hero-image-container">
    <img class="hero-image" src="/images/heros/hero-image_4.jpg"
      alt="Beautiful arrangement of food on plate with flower">
  </section>

  <!-- MAIN CONTENT AREA -->
  <main id="maincontent" tabindex="0"></main>

  <!-- Footer -->
  <footer>
    <div class="container">
      Copyright © 2023 - Alven Resta - Front End Expert Class <br />
      All data obtained from <a href="https://restaurant-api.dicoding.dev" target="_blank">Dicoding Restaurant Api</a>
      and <a href="https://www.themealdb.com/">The Meal DB</a>
    </div>
  </footer>
</body>

</html>