<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description"
    content="Isi Piring adalah website yang merekomendasikan anda makanan dan tempat makan sesuai selera anda">
  <link rel="shortcut icon" href="/images/favicon.svg" type="svg">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet">
  <title>Isi Piring - Gak bingung mau makan apa</title>
</head>

<body>
  <!-- Ascebility Section -->
  <a href="#maincontent" class="skip-link">Menuju ke konten</a>

  <!-- AppBar / Header / Navigation Section -->
  <header>
    <div class="container">
      <div class="logo-container">
        <a href="#" class="logo-link">
          <div class="logo">
            <img src="/images/favicon.svg" alt="Isi Piring icon">
            Isi Piring
          </div>
        </a>
        <a id="hamburger">☰</a>
      </div>
      <nav id="drawer">
        <div class="close-btn-container">
          <a id="close-btn">&#10006;</a>
        </div>
        <ul>
          <li><a href="#/">Home</a></li>
          <li><a href="#/favorite">Favorite</a></li>
          <li><a href="#/random-food">Surprise Me!</a></li>
          <li><a href="http://arproject.my.id" target="_blank">About Us</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <!-- Hero Section -->
  <section class="hero-image-container">
    <picture class="hero-image">
      <source type="image/webp" media="(max-width: 600px)" srcset="/images/hero-small.webp">
      <source type="image/jpg" media="(max-width: 600px)" srcset="/images/hero-small.jpg">
      <source type="image/webp" srcset="/images/hero-large.webp">
      <img class="hero-image" src="/images/hero-large.jpg" alt="Beautiful arrangement of food on plate with flower">
    </picture>
  </section>

  <!-- MAIN CONTENT AREA -->
  <main id="maincontent" tabindex="0"></main>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="text">
        Copyright © 2023 - Alven Resta - Front End Expert Class <br />
        All data obtained from:
      </div>
      <div class="link">
        <a href="https://restaurant-api.dicoding.dev" target="_blank">Dicoding Restaurant Api</a>
        <a href="https://www.themealdb.com/" target="_blank">The Meal DB</a>
      </div>
    </div>
  </footer>
</body>

</html>