@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.debug {
  border: 1px solid purple;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
}

h1 {
  font-family: 'Arvo', serif;
}

a {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 45px;
  min-width: 45px;
}

body {
  padding: 0;
  margin: 0;
  background-color: rgb(255, 208, 189);
  font-family: 'Lato', sans-serif;
}

header {
  background: rgb(236, 236, 236);
  background: linear-gradient(0deg, rgba(236, 236, 236, 1) 0%, rgba(255, 255, 255, 1) 69%);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 6px, rgba(0, 0, 0, 0.5) 0px 3px 6px;
}

header>.container {
  min-height: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}

#drawer {
  width: 250px;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 10;
  padding-bottom: 50px;
  border-radius: 10px;
  transform: translate(0, -450px);
  transition: transform 0.4s ease-in-out;
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#drawer.open {
  transform: translate(0, 0)
}

#drawer ul {
  list-style-type: none;
  padding: 0 16px;
}

#drawer li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 0px;
  margin-bottom: 10px;
  transition: 0.2s ease-in-out;
  border-bottom: 2px rgba(86, 86, 86, 0.625) solid;
}

#drawer li:hover {
  padding: 5px 0px;
  background-color: rgba(249, 196, 177, 0.379);
  border-bottom: 2px rgb(214, 129, 98) solid;
}

#drawer a {
  text-decoration: none;
  font-size: 25px;
  color: rgb(86, 86, 86);
}

#drawer li a {
  width: 100%;
  min-width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#hamburger {
  font-size: 32px;
  padding: 5px 15px;
  text-decoration: none;
  color: black;
}

.close-btn-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo-container .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1.4rem;
  font-family: 'Arvo', serif;
}

.logo-container .logo img {

  margin: 0 10px;
  width: 35px;
}

#close-btn {
  padding: 10px;
  margin-right: 8px;
}

.skip-link {
  position: absolute;
  top: -45px;
  left: 0;
  padding: 4px 8px;
  background-color: #555555;
  color: rgb(200, 200, 200);
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

.hero-image {
  width: 100%;
}

.hero-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1e1e24;
}

#maincontent {
  width: 100%;
  max-width: 800px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 40px;
}

.content h1 {
  padding-top: 20px;
  text-align: center;
}

.content p {
  text-align: center;
}

resto-list {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px 20px;
}

resto-item {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

resto-item .rating {
  position: absolute;
  top: 0;
  font-size: 1.4rem;
  font-weight: bolder;
  background-color: rgba(255, 255, 255, 0.757);
  padding: 2px 4px;
}

resto-item .name {
  font-size: 1.2rem;
  font-weight: bolder;
}

resto-item .city {
  font-size: 0.9rem;
  font-style: italic;
  opacity: 0.5;
  margin-bottom: 5px;
}

resto-item img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
  overflow: hidden;
}

resto-item img:hover {
  filter: brightness(1.4) contrast(0.75);
}

footer {
  display: flex;
  align-items: center;
  height: 70px;
  width: 100%;
  font-size: 0.85rem;
  color: rgb(159, 159, 159);
  background-color: rgb(23, 23, 36);
}

footer .container {
  margin: 0 auto;
  text-align: center;
}

footer a {
  display: inline;
  color: rgb(152, 128, 128);
  text-decoration: underline;
}

f .spacer {
  margin-top: 40px;
  width: 100%;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.496);
}

.random-food-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.random-food-container>img {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
  border-radius: 5px;
}

.random-food-container>h2 {
  font-family: 'Arvo', serif;
}

.random-food-container>p {
  text-align: justify !important;
}

.random-food-container a {
  border: 1px rgb(23, 23, 44) solid;
  padding: 0 40px;
  color: rgb(23, 23, 44);
  background-color: rgba(255, 255, 255, 0.423);
}


@media screen and (min-width: 800px) {
  header .container {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
  }

  #drawer {
    width: fit-content;
    position: relative;
    height: unset;
    display: flex;
    flex-direction: row;
    top: unset;
    right: unset;
    transform: translate(0, 0);
    padding-bottom: unset;
    border-radius: unset;
    box-shadow: unset;
    background-color: unset;
  }

  #drawer li {
    /* width: 75px; */
    text-align: center;
  }

  #drawer ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  #drawer a {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
  }

  #hamburger,
  .close-btn-container {
    display: none;
  }

  resto-list {
    grid-template-columns: repeat(4, 1fr);
  }

  .random-food-container>img,
  .random-food-container>p,
  .random-food-container>h2 {
    max-width: 500px;
    margin: 0 auto;
  }

}

@media screen and (min-width: 1200px) {
  .hero-image {
    width: 1000px;
  }
}